@use "@/styles/mixins/mixins" as *;
@use "/src/styles/variables/variables.scss" as *;

.brandbook {
  height: 100%;
  background: linear-gradient(180deg, #F3F3F2 2.64%, #E59E37 68.73%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55%;
  display: grid;

  @include onTablet {
    height: 100vh;
  }

  & ul {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & li {
      margin-left: 20px;
    }
  }

  &-block {
    @include pageGrid;
    @include max-width-page;
    @include section-padding;
    position: relative;
    overflow: hidden;
    grid-auto-rows: minmax(0, auto);
    row-gap: 12px;
    place-items: center;

    @include onTablet {
      gap: 48px;
      grid-template-rows: repeat(4, 1fr);
    }

    & :nth-child(1) {
      grid-column: 1 / -1;
      grid-row: 1;
    }

    & :nth-child(2) {
      grid-column: 1 / -1;
      grid-row: 2;

      @include onTablet {
        grid-column: 5 / 9;
        grid-row: 1;
      }

      @include onDesktop {
        grid-column: 7 / 11;
        grid-row: 1;
      }
    }

    & :nth-child(3) {
      grid-column: 1 / 4;
      grid-row: 4;

      @include onDesktop {
        grid-column: 1 / 5;
      }
    }

    & :nth-child(4) {
      cursor: pointer;
      grid-column: 2 / 3;
      grid-row: 3;

      @include onTablet {
        grid-column: 1 / 2;
        grid-row: 1;
      }
    }

    & :nth-child(5) {
      grid-column: 3 / 3;
      grid-row: 3;

      @include onTablet {
        grid-column: 8;
        grid-row: 4;
      }

      @include onDesktop {
        grid-column: 10;
      }
    }

    & :nth-child(6) {
      grid-column: 1 / 2;
      grid-row: 3;

      @include onDesktop {
        display: none;
      }
    }

    & :nth-child(7) {
      display: none;

      @include onTablet {
        display: block;
        grid-column: 3 / 7;
        grid-row: 2 / 4;
        justify-self: center;
        align-self: center;
      }

      @include onDesktop {
        grid-column: 4 / 10;
      }
    }

    &__widget {
      &--accordion {
        @include onTablet {
          display: none;
        }
      }

      &--carousel {
        display: none;

        @include onTablet {
          display: block;
        }
      }

      &--center {
        max-width: 462px;
        width: 100%;

        & .main-button {
          width: 100%;
        }
      }

      &-title {
        color: $submain-text-color;
        text-align: center;
        font-family: $submain-text-font;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        padding-bottom: 10px;
      }
    }

    &--pixel {
      @include onDesktop {
        display: none;
      }
    }
  }
}