@use "@/styles/mixins/mixins" as *;
@use "@/styles/variables/variables" as *;

.servicesandusecases {
  background-color: #E59E37;
  height: 100% !important;

  @include onDesktop {
    height: 832px !important;
    align-content: end;
  }

  &-block {
    @include section-padding;

  }

  &-top {
    grid-column: 1 / 4;
    padding-block-end: 16px;

    @include onTablet {
      padding-block-end: 0;
    }

    &--mobile {
      @include onTablet {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @include onTablet {
        display: block;
        height: fit-content;
      }
    }

    &__title {
      color: $submain-text-color;
      text-align: center;
      font-family: $submain-text-font;
      font-size: 28px;
      font-weight: 400;
      text-transform: uppercase;
      padding-block-end: 10px;

      @include onTablet {
        font-size: 36px;
      }
    }

    &__button {
      grid-column: 1 / 4;
      max-width: 462px;
      width: 100%;
      margin: 0 auto;

      & button {
        width: 100%;
      }
    }
  }

  &-bottom {
    @include pageGrid;
    @include max-width-page;
    place-items: center;
    grid-column: 1 / -1;
    gap: 12px;

    @include onTablet {
      place-items: unset !important;
    }
    
    @include onDesktop {
      row-gap: 26px;
    }

    &> :nth-child(1) {
      grid-column: 3 / 4;
      grid-row: 1;

      @include onDesktop {}
    }

    &> :nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 1;

      @include onDesktop {}
    }

    &> :nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 2;

      @include onDesktop {}
    }

    &> :nth-child(4) {
      grid-column: 2 / 3;
      grid-row: 1;

      @include onDesktop {}
    }

    &> :nth-child(5) {
      grid-column: 2 / 3;
      grid-row: 2;

      @include onTablet {
        grid-column: 1;
        grid-row: 3;
      }
    }

    &> :nth-child(6) {
      grid-column: 1 / 4;
      grid-row: 3;

      @include onTablet {
        grid-column: 4;
        grid-row: 3;
      }
    }

    &> :nth-child(7) {
      @include onTablet {
        grid-template-columns: 1fr 1fr;
        align-items: end;
        gap: 12px;
        grid-column: 4 / 5;
      }
    }

    &> :nth-child(8) {
      @include onTablet {
        grid-column: 1 / -1;
        grid-row: 2;
        align-self: center;
      }
    }

    &> :nth-child(9) {
      @include onTablet {
        display: none;
      }
    }

    &> :nth-child(10) {
      display: none;

      @include onTablet {
        display: grid;
        width: fit-content;
        align-items: start;
        grid-column: 1 / 2;
        grid-row: 1;
      }
    }

    &__pixelmate {
      @include onDesktop {
        display: none;
      }
    }

    &__video {
      grid-column: 1 / 2;

      &-block {
        width: 100%;
        height: 100%;
      }
    }

    &__works {
      &--mobile {
        @include onDesktop {
          display: none;
        }
      }

      &--desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
      }

      &-work {
        &--mobile {
          @include onTablet {
            display: none;
          }
        }
      }
    }

    &__works-check {
      color: $main-text-color;
      text-align: center;
      font-family: $main-text-font;
      font-size: 24px;
      font-weight: 400;
      justify-self: center;

      &--hide {
        @include onTablet {
          display: none;
        }
      }
    }
  }
}

.servicesandusecases-bottom__widgets--desktop {
  display: none;

  @include onTablet {
    display: grid;
  }
}