@use "@/styles/variables/variables" as *;
@use "@/styles/mixins/mixins" as *;

.reviews {
  position: relative;
  height: 100%;
  background: url('../../../../assets/images/reviews-background.avif') center/cover no-repeat;
  overflow: hidden;
  z-index: 0;
  place-content: center;
    @include section-padding;

  &-block {
    @include pageGrid;
    @include max-width-page;
    place-items: center;
    gap: 12px;

    @include onTablet {
      place-items: unset !important;
    }

    &> :nth-child(1) {
      grid-column: 1 / 4;
      grid-row: 1;

      @include onTablet {
        grid-column: 1 / -1;
        grid-row: 2;
      }
    }

    &> :nth-child(2) {
      grid-column: 1 / 4;
      grid-row: 2;

      @include onTablet {
        padding: 0;
        justify-self: end;
        grid-column: 3 / span 2;
        grid-row: 1;
      }
    }

    &> :nth-child(3) {
      grid-column: 1 / 4;
      grid-row: 3;

      @include onTablet {
        grid-column: 1 / 3;
        grid-row: 1;
      }
    }

    &> :nth-child(4) {
      grid-column: 1 / 4;
      grid-row: 4;

      @include onTablet {
        grid-column: 3 / span 2;
        grid-row: 3;
        justify-self: end;
      }
    }

    &> :nth-child(5) {
      grid-column: 3 / 4;
      grid-row: 5;

      @include onTablet {
        grid-column: 1 / 2;
        grid-row: 3;
        align-self: end;
      }
    }

    &> :nth-child(6) {
      grid-column: 2 / 3;
      grid-row: 6;

      @include onTablet {
        grid-column: 1 / 2;
        grid-row: 3;
        align-self: start;
      }
    }
  }

  &-header {
    padding-block: 16px;

    &__title {
      color: $submain-text-color;
      text-align: center;
      font-family: $submain-text-font;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;

      @include onTablet {
        font-size: 36px;
      }
    }
  }

  &-menu {
    &__video {
      &-block {
        padding-block: 12px;
        max-width: 312px;
        margin: 0 auto;

        & video {
          max-height: 204px;
          height: 100%;
          width: 100%;
          border-radius: 8px;
          margin-block-end: 12px;
        }
      }

      &-title {
        color: $submain-text-color;
        text-align: center;
        font-family: $main-text-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &__testimonials {
      &-block {
        border-radius: 8px;

        &--janice {
          background-color: #FFFFFFCC;
          backdrop-filter: blur(22.5px);
          padding: 16px;
          max-width: 312px;
          width: 100%;
        }

        &--uriel {
          background-image: url('../../../../assets/images/testimonials-yellow.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          padding: 16px;
          max-width: 312px;
          width: 100%;
        }
      }

      &-header {
        display: flex;
        gap: 16px;
      }

      &-icon {
        margin-top: 3px;
      }

      &-title {
        color: $main-text-color;
        font-family: $main-text-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-block-end: 8px;
      }

      &-body {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      &-text {
        color: $main-text-color;
        font-family: $main-text-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

    }
  }

  &-widgets {
    &--first {
      padding-block-start: 12px;


      & .widget__text {
        color: $submain-text-color;
      }
    }

    &--second {
      padding-block-start: 12px;


      @include onDesktop {
        display: none;
      }
    }
  }
}

// .reviews-block {
//   position: relative;
//   min-height: 100vh;
// }

// .reviews-block::before {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 100%;
//   height: 3px;
//   background: limegreen;
//   /* горизонтальна */
//   transform: translate(-50%, -50%);
// }

// .reviews-block::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 50%;
//   width: 3px;
//   min-height: 100%;
//   background: limegreen;
//   /* вертикальна */
//   transform: translateX(-50%);
// }