@use "@/styles/variables/variables" as *;
@use "@/styles/mixins/mixins" as *;

.reviews {
  @include section-padding;
  position: relative;
  height: 100%;
  min-height: 100vh;
  background-color: #49A0A9;
  overflow: hidden;
  z-index: 0;
  place-content: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background: url('../../../../assets/images/reviews-background.png') center/cover no-repeat;
    z-index: -1;

    @include onTablet {
      height: 100%;
    }
  }

  @include onTablet {
    background: none
  }

  &-block {
    @include pageGrid;
    @include max-width-page;
    place-content: center;

    @include onTablet {
      grid-template-rows: auto 1fr auto 1fr auto;
      grid-template-columns: repeat(8, minmax(0, 1fr));
      row-gap: 48px;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-template-rows: minmax(0, auto);
      column-gap: 68px;
      justify-content: center;
    }


    & :nth-child(1) {
      @include onTablet {
        grid-column: 3 / 7;
        grid-row: 3;
      }

      @include onDesktop {
        grid-column: 4 / 10;
        grid-row: 4;
      }
    }

    & :nth-child(2) {
      @include onTablet {
        grid-column: 6 / 9;
        grid-row: 4;
      }

      @include onDesktop {
        grid-column: 7 / 12;
        grid-row: 5;
      }
    }

    & :nth-child(3) {
      max-width: 312px;
      width: 100%;
      height: fit-content;
      grid-column: 1 / 4;
      margin: 0 auto;

      @include onTablet {
        grid-column: 1 / 5;
        grid-row: 2;
      }

      @include onDesktop {
        grid-column: 1 / 6;
        grid-row: 2;
      }
    }

    & :nth-child(4) {
      max-width: 312px;
      min-width: 290px;
      width: 100%;
      height: fit-content;
      grid-column: 1 / 4;
      margin: 0 auto;
      margin-top: 12px;

      @include onTablet {
        grid-column: 5 / 9;
        grid-row: 2;
        margin-top: 0;
      }

      @include onDesktop {
        grid-column: 7 / 11;
        grid-row: 2;
      }
    }

    & :nth-child(5) {
      @include onTablet {
        grid-column: 2 / 3;
        grid-row: 4;
      }

      @include onDesktop {
        grid-row: 6;
        align-self: end;
      }
    }

    & :nth-child(6) {
      @include onTablet {
        grid-column: 4 / 6;
        grid-row: 4;
        align-self: end;
      }
    }
  }

  &-header {
    grid-column: 1 / 4;
    padding-block: 16px;

    &__title {
      color: $submain-text-color;
      text-align: center;
      font-family: $submain-text-font;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;

      @include onTablet {
        font-size: 36px;
      }
    }
  }

  &-menu {
    &__video {
      &-block {
        grid-column: 1 / 4;
        padding-block: 12px;
        max-width: 312px;
        margin: 0 auto;

        @include onTablet {
          grid-column: 2 / 8;
          grid-row: 4;
        }

        & video {
          max-height: 204px;
          height: 100%;
          width: 100%;
          border-radius: 8px;
          margin-block-end: 12px;
        }
      }

      &-title {
        color: $submain-text-color;
        text-align: center;
        font-family: $main-text-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &__testimonials {
      &-block {
        border-radius: 8px;

        &--janice {
          background-color: #FFFFFFCC;
          backdrop-filter: blur(22.5px);
          padding: 16px;
        }

        &--uriel {
          background-image: url('../../../../assets/images/testimonials-yellow.png');
          background-repeat: no-repeat;
          // background-size: 150% 130%;
          background-size: cover;
          background-position: center;
          // backdrop-filter: blur(22.5px);
          padding: 16px;
        }
      }

      &-header {
        display: flex;
        gap: 16px;
      }

      &-icon {
        margin-top: 3px;
      }

      &-title {
        color: $main-text-color;
        font-family: $main-text-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-block-end: 8px;
      }

      &-body {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      &-text {
        color: $main-text-color;
        font-family: $main-text-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

    }
  }

  &-widgets {
    &--first {
      padding-block-start: 12px;
      grid-column: 3 / 3;

      @include onTablet {
        grid-column: 2 / 3;
      }

      & .widget__text {
        color: $submain-text-color;
      }
    }

    &--second {
      padding-block-start: 12px;
      grid-column: 2 / 3;

      @include onTablet {
        grid-column: 4 / 4;
        grid-row: 4;

      }

      @include onDesktop {
        display: none;
      }
    }
  }
}

// .reviews-block {
//   position: relative;
//   min-height: 100vh;
// }

// .reviews-block::before {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 100%;
//   height: 3px;
//   background: limegreen;
//   /* горизонтальна */
//   transform: translate(-50%, -50%);
// }

// .reviews-block::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 50%;
//   width: 3px;
//   min-height: 100%;
//   background: limegreen;
//   /* вертикальна */
//   transform: translateX(-50%);
// }