@use "@/styles/variables/variables" as *;
@use "@/styles/mixins/mixins" as *;


.MainWindow {
  height: fit-content;
  padding-inline: 16px;
  border: 1px solid #F3F3F2;
  background: rgba(243, 243, 242, 0.20);
  backdrop-filter: blur(22.5px);
  border-radius: 8px;
  margin: 0 auto;
  max-width: 462px;
  width: 100%;

  @include onTablet {
    min-width: 300px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-block: 20px;
  }

  &-top {
    margin-bottom: 18px;

    &__title {
      &-text {
        font-family: $main-text-font;
        color: $main-text-color;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  &-mid {
    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 14px;

      &-text {
        font-family: $submain-text-font;
        color: $main-text-color;
        font-size: 20px;
        font-weight: 400;
      }
    }

    &__subtitle {
      margin-bottom: 24px;

      &-text {
        font-family: $main-text-font;
        color: $main-text-color;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &-bottom {
    &__buttons-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}