@forward './variables/variables';

@forward './mixins/mixins';

@use './pages/header';
@use './pages/footer';

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Archivo", sans-serif;
}

// основний
h1,
h2,
h3 {
  font-family: "Jersey 25", "Archivo", sans-serif;
  font-weight: 400;
}