body {
  background-image: url("/images/body_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  &__title {
    font-size: 60px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #fed263;
    letter-spacing: 10px;
  }
}