@use "@/styles/mixins/mixins" as *;
@use "/src/styles/variables/variables.scss" as *;



.main {
  height: 100%;
  display: grid;

  &-branding {
    background-image: url('../../../../assets/images/branding-main--bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
  }

  & ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 0;


  }

  & li {
    display: list-item;

    @include onTablet {
      margin-left: 20px;
    }
  }


  @include onTablet {
    min-height: 100vh;
  }

  &-block {
    @include section-padding;
    @include pageGrid;
    @include max-width-page;
    grid-auto-rows: minmax(0, auto);
    row-gap: 12px;
    place-items: center;
    margin-top: 50px;
    position: relative;


    &__widget--hide {
      @include onTablet {
        display: none;
      }
    }

    &__widget--tablet {
      display: none;

      @include onTablet {
        display: block;
      }
    }

    &__widget-pixel {
      @include onDesktop {
        position: fixed;
        bottom: 10%;
        z-index: 9999;
      }
    }

    &__widget-pixel.widget__text {
      color: #000 !important;
    }

    & :nth-child(1) {
      grid-column: 1 / 4;
      grid-row: 2;
      // justify-items: center;

      @include onTablet {
        grid-row: 3;
      }

      @include onDesktop {
        grid-column: 2 / 4;
      }
    }

    & :nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 3;
      // justify-items: center;

      @include onTablet {
        grid-column: 8;
        grid-row: 2;
      }
    }

    & :nth-child(3) {
      grid-column: 1 / -1;
      grid-row: 4;
      // justify-items: center;

      & .carousel__dots {
        display: flex;
        justify-content: center;
        gap: 8px;
      }
    }

    & :nth-child(4) {
      grid-column: 3 / 7;
      grid-row: 4;
      align-self: end;

      @include onDesktop {
        grid-column: 4 / 10;
      }
    }
  }
}