$main-text-color: #0c0c0b;
$submain-text-color: #fff;
$main-button-background: #0c0c0b;
$submain-button-background: #fff;
$main-text-font: "Archivo", sans-serif;
$submain-text-font: "Jersey 25", sans-serif;

$desktop-min-width: 1024px;
$tablet-min-width: 768px;