$main-text-color: #0c0c0b;
$submain-text-color: #f3f3f2;
$main-button-background: #0c0c0b;
$submain-button-background: #f3f3f2;
$main-text-font: "Archivo", sans-serif;
$submain-text-font: "Jersey 25", sans-serif;
$orange-color: #E59E37;

$desktop-min-width: 1024px;
$tablet-min-width: 768px;