/* src/components/Carousel/Carousel.scss */
@use "@/styles/mixins/mixins" as *;
@use "/src/styles/variables/variables.scss" as *;

$shadow: 0 6px 24px rgba(0, 0, 0, 0.14);

.carousel {
  position: relative; // для стрілок
  width: 100%;
  max-width: 312px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.carousel__viewport {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  background: #000;
  aspect-ratio: 16 / 9;
  box-shadow: $shadow;
  z-index: 1000;

  // курсор grab лише на тач (щоб на desktop не підказувати про drag)
  @media (hover: none) and (pointer: coarse) {
    cursor: grab;

    &.carousel__viewport--dragging {
      cursor: grabbing;
    }
  }
}

.carousel__track {
  display: flex;
  height: 100%;
  will-change: transform;
}

.carousel__slide {
  min-width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: #000;
}

.carousel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel__dots {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.carousel__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0;
  background: rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: transform .15s ease, background .15s ease;

  &:hover {
    transform: scale(1.15);
  }

  &--active {
    background: #000;
    transform: scale(1.25);
  }
}

.carousel__title {
  color: $main-text-color;
  text-align: center;
  font-family: Archivo, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}


.carousel__arrow {
  position: absolute;
  left: auto;
  right: auto;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: transparent;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform .18s ease, opacity .18s ease;
  z-index: 3;
  display: none;
  
  @include onTablet {
    display: block;
  }

  svg {
    display: block;
    transition: filter .18s ease;
  }

  &:hover svg {
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, .25));
  }

  &:active {
    transform: translateY(-50%) scale(.96);
  }

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &--prev {
    left: calc(-1 * clamp(24px, 6vw, 48px));
  }

  &--next {
    right: calc(-1 * clamp(24px, 6vw, 48px));

    svg {
      transform: scaleX(-1);
      transform-origin: center;
    }
  }
}