@use "@/styles/mixins/mixins" as *;
@use "@/styles/variables/variables" as *;


.main {
  height: 100% !important;

  &-top {
    @include section-padding;
    background-image: url("../../../../assets/images/Fon.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;


    & .main-container {
      margin-top: auto;

      &--tabphone {
        margin-top: 160px;
        place-items: center;

        @include onTablet {
          display: none;
        }
      }
    }

    &__widgets {
      @include max-width-page;
      position: relative;
      display: none;
      z-index: 2;

      margin-top: 114px;

      @include onTablet {
        @include pageGrid;
        grid-auto-rows: minmax(0, auto);
        gap: 48px;
      }

      &-center {
        min-width: 300px;
        width: 100%;
        text-align: center;
        padding: 16px;
        display: grid;
        gap: 10px;
      }

      &-text {
        color: $submain-text-color;
        text-align: center;
        font-family: $submain-text-font;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        &--small {
          font-size: 16px;
        }
      }

      &-widget {
        height: 100%;
      }

      &-group {
        display: grid;

        &--one {
          gap: 26px;
          grid-template-columns: 1fr 2fr;
          height: fit-content;
          width: fit-content;

        }

        &--two {
          grid-template-columns: 1fr 1fr;
          gap: 26px;
          height: fit-content;
          width: fit-content;

          &> :nth-child(1),
          &> :nth-child(2),
          &> :nth-child(3) {
            & img {
              padding: 24px;
              border-radius: 8px;
              background: rgba(243, 243, 242, 0.20);
              backdrop-filter: blur(22.5px);
            }
          }

          &> :nth-child(4) {
            & img {
              border-radius: 8px;
              background: rgba(243, 243, 242, 0.20);
              backdrop-filter: blur(22.5px);
            }
          }
        }

        &--three {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 26px;
          height: fit-content;
          width: fit-content;

          &> :nth-child(1) {
            grid-row: 1;
          }

          &> :nth-child(2) {
            grid-row: 2;
          }

          &> :nth-child(3) {
            grid-row: 2;

            @media(max-width: 1192px) and (min-width: 768px) {
              grid-row: 3;
            }
          }

          @media(max-width: 1192px) and (min-width: 769px) {
            grid-template-columns: 1fr;
          }
        }

        &--four {
          height: fit-content;
          width: fit-content;

          &> :nth-child(1) {
            grid-row: 1;
          }

          &> :nth-child(2) {
            grid-row: 2;
          }
        }

        &--five {
          height: fit-content;
          width: fit-content;
          align-self: end;
        }
      }

      &> :nth-child(1) {
        grid-column: 1 / span 2;
        grid-row: 1;
      }

      &> :nth-child(2) {
        grid-column: 3 / span 2;
        grid-row: 1;
        justify-self: end;
      }

      &> :nth-child(3) {
        grid-column: 1 / 4;
        grid-row: 2;
        align-self: end;
      }

      &> :nth-child(4) {
        grid-column: 2 / 4;
        grid-row: 2;
        gap: 46px;
        justify-self: center;
      }

      &> :nth-child(5) {
        grid-column: 4;
        grid-row: 2;
        justify-self: end;
      }
    }
  }

  &-bottom {
    @include section-padding;
    @include pageGrid;

    background: #E59E37;

    @include onTablet {
      display: none;
    }

    &__widgets {
      grid-column: 1 / -1;
      row-gap: 12px;

      // &-first {
      // grid-column: 1 / -1;
      // grid-row: 1;
      // }

      // &-second {
      //   &> :nth-child(1) {
      //     grid-column: 1;
      //     grid-row: 2;
      //   }

      //   &> :nth-child(2) {
      //     grid-column: 2 / -1;
      //     grid-row: 2;
      //   }
      // }

      // &-third {
      //   &> :nth-child(1) {
      //     grid-column: 1;
      //     grid-row: 3;
      //   }

      //   &> :nth-child(2) {
      //     grid-column: 1;
      //     grid-row: 3;
      //   }

      //   &> :nth-child(3) {
      //     grid-column: 3;
      //     grid-row: 3;
      //   }
      // }

      &-widget {
        &--double-column {
          display: grid;
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

// ---------------------- PIXEL MATE WIDGET -----------------------------
.pixel-ai {
  cursor: pointer;
}

.pixel-ai .widget__media img {
  padding: 8px;
  border-radius: 16px;
}

.pixel-ai ::after {
  content: "1";
  position: absolute;
  top: 4px;
  right:4px;
  width: 14px;
  height: 14px;
  background-color: #FF901B;
  text-align: center;
  font-size: 14px;
  font-family: $main-text-font;
  color: $submain-text-color;
  font-weight: 300;
  border-radius: 50%;
  border: 1px solid $submain-text-color;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
    opacity: 0.9;
  }

  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}

// -----------------------------------------
.pixel-ai--active {
  cursor: pointer;
  z-index: 9999;
  display: none;

  @include onDesktop {
    display: block;
    position: fixed;
    right: 48px;
    bottom: 0;
  }
}

.pixel-ai--active .widget__media img {
  padding: 8px;
}

.pixel-ai--active ::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  width: 14px;
  height: 14px;
  background-color: #498E21;
  text-align: center;
  font-size: 14px;
  font-family: $main-text-font;
  color: $submain-text-color;
  font-weight: 300;
  border-radius: 50%;
  border: 1px solid $submain-text-color;
  animation: pulseA 1.5s infinite;
}

@keyframes pulseA {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
    opacity: 0.9;
  }

  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}



// -------------------------- BOTTOM -------------------------------------------
.main-bottom__widgets {
  @include pageGrid;
  place-items: center;

  &-first {
    grid-column: 1 / -1;

    &> :nth-child(3) {
      & img {
        padding: 24px;
        border-radius: 8px;
        background: rgba(243, 243, 242, 0.20);
        backdrop-filter: blur(22px);
      }
    }
  }

  &-second {
    &> :nth-child(1) {
      grid-column: 1;
    }

    &> :nth-child(2) {
      grid-column: 2 / -1;
    }
  }
}

.main-bottom__widgets>div {
  display: contents;
  cursor: pointer;
}

.main-bottom__widgets :where(.widget, .expandable-widget) {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}



@include onTablet {
  .expander--open .expander__panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}