@use "@/styles/mixins/mixins" as *;
@use "@/styles/variables/variables" as *;


.main {
  &-top {
    @include section-padding;
    @include pageGrid;

    background-image: url("../../../../assets/images/Fon.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    @include onTablet {
      height: 100%;
    }

    & .main-container {
      margin-top: auto;
      grid-column: 1 / -1;

      @include onTablet {
        grid-column: 2 / 8;
      }

      @include onDesktop {
        grid-column: 3 / 11;
      }

      &--desktop {
        display: none;

        @include onDesktop {
          display: block;
        }
      }

      &--tabphone {
        @include onDesktop {
          display: none;
        }
      }
    }

    &__widgets {
      @include max-width-page;
      position: relative;
      display: none;
      z-index: 2;
      height: fit-content;

      margin-top: 114px;

      @include onTablet {
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-auto-rows: minmax(0, auto);
        // justify-items: center;
        gap: 48px;
        grid-column: 1 / 9;
      }


      @include onDesktop {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-column: 1 / 13;
      }

      &-widget {
        height: 100%;
      }
    }
  }

  &-bottom {
    @include section-padding;
    @include pageGrid;

    background-color: #49a0a9;
    height: 100%;

    @include onTablet {
      display: none;
    }

    &__widgets {
      grid-column: 1 / -1;
      row-gap: 12px;

    }
  }
}

.pixel-ai {
  cursor: pointer;
}

.pixel-ai .widget__media img {
  padding: 8px;
}

.pixel-ai ::after {
  content: "1";
  position: absolute;
  top: 4px;
  right: 4px;
  width: 14px;
  height: 14px;
  background-color: #FF901B;
  text-align: center;
  font-size: 14px;
  font-family: $main-text-font;
  color: $submain-text-color;
  font-weight: 300;
  border-radius: 50%;
  border: 1px solid $submain-text-color;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
    opacity: 0.9;
  }

  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}


.main-bottom__widgets {
  @include pageGrid;
  align-items: start;
  justify-items: center;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
}

.main-bottom__widgets>div {
  display: contents;
  cursor: pointer;
}

.main-bottom__widgets-first>* {
  grid-column: span 1;
}

.main-bottom__widgets :where(.widget, .expandable-widget) {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.main-bottom__widgets-second>* {
  &:first-child {
    grid-column: span 1;
    height: fit-content;
  }

  &:last-child {
    grid-column: span 2;
  }
}

.main-bottom__widgets-third>* {
  grid-column: span 1;

  &:first-child {
    grid-column: 2 / 3;
  }
}

.main-bottom__widgets-four>* {
  grid-column: span 1;
}


.main-top__widgets {
  cursor: pointer;

  >.main-top__widgets-widget:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  >.main-top__widgets-widget:nth-child(2) {
    grid-column: 6 / 6;
    grid-row: 1;
  }

  >.main-top__widgets-widget:nth-child(3) {
    grid-column: 8 / 8;
    grid-row: 1;
  }

  >.main-top__widgets-widget:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 2;
  }

  >.main-top__widgets-widget:nth-child(5) {
    grid-column: 6 / 7;
    grid-row: 2;
  }

  >.main-top__widgets-widget:nth-child(6) {
    grid-column: 8 / 8;
    grid-row: 2;
  }

  >.main-top__widgets-widget:nth-child(7) {
    grid-column: 1 / 2;
    grid-row: 3;
  }

  >.main-top__widgets-widget:nth-child(8) {
    grid-column: 1 / 2;
    grid-row: 5;
    padding-block-end: 48px;
  }

  >.main-top__widgets-widget:nth-child(9) {
    grid-column: 2 / 6;
    grid-row: 4;
  }

  >.main-top__widgets-widget:nth-child(10) {
    grid-column: 3 / 4;
    grid-row: 3;
  }

  >.main-top__widgets-widget:nth-child(11) {
    grid-column: 7 / 8;
    grid-row: 5;
  }

  /* ДЕСКТОП — за потреби інші позиції */
  @include onDesktop {
    row-gap: 48px;

    >.main-top__widgets-widget:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1;
    }

    >.main-top__widgets-widget:nth-child(2) {
      grid-column: 9 / 10;
      grid-row: 1;
      justify-items: left;
    }

    >.main-top__widgets-widget:nth-child(3) {
      grid-column: 10 / 10;
      grid-row: 1;

      @media (min-width: 1024px) and (max-width:1650px) {
        padding-inline-start: 48px;
      }
    }

    >.main-top__widgets-widget:nth-child(4) {
      grid-column: 2 / 4;
      grid-row: 2;
    }

    >.main-top__widgets-widget:nth-child(5) {
      grid-column: 9 / 10;
      grid-row: 2;
    }

    >.main-top__widgets-widget:nth-child(6) {
      grid-column: 10 / 11;
      grid-row: 2;
      cursor: pointer;

      @media (min-width: 1024px) and (max-width:1650px) {
        padding-inline-start: 48px;
      }
    }

    >.main-top__widgets-widget:nth-child(7) {
      grid-column: 1 / 2;
      grid-row: 4;
    }

    >.main-top__widgets-widget:nth-child(8) {
      grid-column: 1 / 2;
      grid-row: 6;
      padding-block-end: 48px;
      z-index: 1000;
    }

    >.main-top__widgets-widget:nth-child(9) {
      grid-column: 2 / 6;
      grid-row: 5;
    }

    >.main-top__widgets-widget:nth-child(10) {
      grid-column: 3 / 4;
      grid-row: 4;
    }

    .main-top__widgets-widget:nth-child(11) {
      grid-column: 11 / 12;
      grid-row: 6;
      position: fixed;
      top: 80%;
      overflow: hidden;

      & .widget__media img {
        padding: 8px;
      }
    }

    .main-top__widgets-widget:nth-child(11)::after {
      content: "";
      position: absolute;
      top: 4px;
      right: 4px;
      width: 14px;
      height: 14px;
      background-color: #00ff66;
      border-radius: 50%;
      border: 1px solid $submain-text-color;
      animation: pulse 1.5s infinite;
    }

    @keyframes pulse {
      0% {
        transform: scale(0.9);
        opacity: 1;
      }

      50% {
        transform: scale(1.3);
        opacity: 0.9;
      }

      100% {
        transform: scale(0.9);
        opacity: 1;
      }
    }


    >.main-top__widgets-widget:nth-child(12) {
      cursor: auto;
      grid-column: 3 / 11;
      grid-row: 6 / 7;
    }
  }
}


@include onTablet {
  .expander--open .expander__panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}