* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  z-index: 9999;
}
html { scrollbar-gutter: stable; }       /* стабілізує ширину при появі/зникненні скролбара */
body.modal-open {                        /* ставиться/знімається у твоєму попапі */
  overflow: hidden;
  overscroll-behavior: contain;
  touch-action: none;
}

@font-face {
  font-family: 'Jersey 25';
  src: url('/fonts/jersey-25-latin-400-normal.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
                 U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122,
                 U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; 
}

@font-face {
  font-family: 'Jersey 25';
  src: url('/fonts/jersey-25-latin-ext-400-normal.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; /* latin-ext */
}


@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo/Archivo-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}